<div class="flex justify-center">
  <div class="flex flex-col justify-between max-w-4xl min-w-full p-4 space-y-2">
    <header>
      <!-- Page title -->
      <h1 class="border-b-2 border-gray-300 font-bold text-2xl text-indigo-900 flex justify-between">
        Changelog
      </h1>
    </header>
    <!-- Main content. -->
    <main>
      <div *ngFor="let release of releases"
        class="rounded-lg bg-white shadow p-2 mb-2 print:shadow-none">
        <!-- Title -->
        <h2 class="border-b-2 border-gray-300 font-bold text-xl text-indigo-900 flex justify-between">
          Release {{release.version}}
        </h2>
        <!-- Entries -->
        <div class="mt-2 flex flex-col space-y-4">
          <div *ngFor="let commit of release.changes">
            <p>
              <!-- Commit type -->
              <span class="inline-block w-8">{{commitTypes[commit.message.type].emoji}}</span>
              <!-- The language -->
              <span>{{commit.message.subject}}</span>
            </p>
          </div>
        </div>

      </div>
    </main>
  </div>
</div>