<div class="flex justify-center">
  <div class="flex flex-col justify-between max-w-4xl min-w-full p-2 space-y-2">
    <header class="print:hidden">
      <!-- Page title -->
      <h1 class="border-b-2 border-gray-300 font-bold text-2xl text-indigo-900 flex justify-between">
        Changelog
      </h1>
    </header>
    <!-- Main content. -->
    <main class="flex flex-col">
      <div *ngFor="let release of releases"
        class="rounded-lg bg-white shadow px-2 pt-2 mb-2">
        <!-- Title -->
        <h2 class="border-b-2 border-gray-300 font-bold text-xl text-indigo-900 flex justify-between">
          Release {{release.version}}
        </h2>
        <!-- Entries -->
        <div class="mt-2 flex flex-row flex-wrap -mr-2">
          <div *ngFor="let commit of release.changes"
            class="shadow p-2 rounded-lg bg-gray-50 sm:w-72 print:w-72 mr-2 mb-2 flex-grow">
            <h3 class="text-lg text-gray-700 border-b-2">
              {{commitTypes[commit.type].emoji}}
              <span class="ml-2">{{commitTypes[commit.type].title}}</span>
            </h3>
            <ul class="list-disc list-inside">
              <!-- Commit type -->
              <li *ngFor="let change of commit.changes"
                class="">{{change.message.subject }}</li>
            </ul>
          </div>
        </div>

      </div>
    </main>
  </div>
</div>