<app-card *ngIf="work">
  <!-- Title -->
  <div class="flex justify-between">
    <!-- Company -->
    <div>
      <!-- ADP -->
      <app-logo-card *ngIf="work.company === 'ADP'"
        src="assets/logo-adp.jpeg"
        alt="ADP logo"></app-logo-card>
      <!-- Google -->
      <app-logo-card *ngIf="work.company === 'Google'"
        src="assets/logo-google.png"
        alt="Google logo"></app-logo-card>
      <!-- NYT -->
      <app-logo-card *ngIf="work.company === 'The New York Times'"
        alt="The New York Times logo"
        src="assets/logo-nyt.png"></app-logo-card>
    </div>
    <!-- Position -->
    <div class="pt-4 text-center">
      <h3 class="text-xl">
        {{work.position}}
      </h3>
      <span class="text-sm">
        {{work.company}}
      </span>
    </div>
    <!-- Period -->
    <div class="p-4 text-sm pl-1 text-right print:whitespace-nowrap">
      {{work.startDate | date: 'MMM yyyy'}}
      <br className="print:hidden" />
      <span className="hidden print:inline"> to </span>
      <span *ngIf="work.endDate == 'Current'">Present</span>
      <span *ngIf="work.endDate != 'Current'">{{work.endDate | date: 'MMM yyyy'}}</span>
    </div>
  </div>
  <!-- Summary -->
  <h4 class="px-4 bg-gray-50 shadow border border-y-gray-300 py-1 print:bg-white text-lg">
    {{work.summary}}</h4>

  <!-- Highlights -->
  <div class="p-4 pt-0 print:p-0 leading-relaxed text-base print:text-xs">
    <p *ngFor="let highlight of work.highlights"
      class="pt-4">
      {{highlight}}
    </p>
  </div>
</app-card>