<app-card>
  <div *ngIf="work"
    class="print:mb-2">
    <!-- ADP -->
    <img *ngIf="work.company === 'ADP'"
      width="24"
      height="24"
      alt="ADP Logo"
      class="float-left rounded-full w-6 shadow mr-3"
      src="assets/logo-adp.jpeg" />
    <!-- Google -->
    <img *ngIf="work.company === 'Google'"
      width="24"
      height="24"
      alt="Google logo"
      class="float-left rounded-full w-6 shadow mr-3"
      src="assets/logo-google.png" />
    <!-- NYT -->
    <img *ngIf="work.company === 'The New York Times'"
      width="24"
      height="24"
      alt="The New York Times logo"
      class="float-left rounded-full w-6 shadow mr-3"
      src="assets/logo-nyt.png" />
    <!-- Company, position and period -->
    <div class="flex justify-between space-x-2">
      <h3 class="text-lg flex-grow">
        {{work.company}} - {{work.position}}
      </h3>
      <div class="text-sm pl-1 text-right print:whitespace-nowrap">
        {{work.startDate | date: 'MMM/yyyy'}}
        <br className="print:hidden" />
        <span className="hidden print:inline"> to </span>
        <span *ngIf="work.endDate == 'Current'">Current</span>
        <span *ngIf="work.endDate != 'Current'">{{work.endDate | date: 'MMM/yyyy'}}</span>

      </div>
    </div>
    <!-- Summary -->
    <h4 class="bg-gray-100 rounded-lg italic p-1 mb-1 print:bg-white print:px-0">{{work.summary}}</h4>
    <!-- Highlights -->
    <p *ngFor="let highlight of work.highlights"
      class="text-sm print:text-xs">
      {{highlight}}
    </p>
  </div>
</app-card>