<div class="flex flex-col justify-between p-4 space-y-2 min-h-screen max-w-4xl">
  <!-- Header -->
  <header class="p-2 rounded-lg bg-white shadow">
    <div class="flex flex-row space-x-4">
      <!-- Photo, location and contacts -->
      <div class="whitespace-nowrap border-r pr-2 text-center w-56 profile-card ">
        <img class="rounded-full shadow-md border-indigo-200 print:hidden m-auto mt-2 border"
          width="200"
          height="200"
          alt="portrait"
          src="assets/leo-meirelles.jpeg">
        <div>
          <!-- Name -->
          <h1 class="font-semibold text-2xl text-indigo-900 ">{{resume?.basics?.name}}</h1>
          <!-- Label -->
          <p>{{resume?.basics?.label}}</p>
          <!-- Location -->
          <p class="text-gray-500 text-sm mb-2">{{resume?.basics?.location?.city}},
            {{resume?.basics?.location?.region}},
            {{resume?.basics?.location?.countryCode }}
          </p>
          <!-- Phone contact -->
          <p class="flex pb-1 text-indigo-600">
            <svg xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24">
              <path
                d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm4.5 17.311l-1.76-3.397-1.032.505c-1.12.543-3.4-3.91-2.305-4.497l1.042-.513-1.747-3.409-1.053.52c-3.601 1.877 2.117 12.991 5.8 11.308l1.055-.517z" />
            </svg>
            <a class="pl-2"
              rel="noopener noreferrer"
              href="tel:{{resume?.basics?.phone}}">
              {{resume?.basics?.phone}}
            </a>
          </p>
          <!-- Email contact -->
          <p class="flex text-indigo-600">
            <svg xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24">
              <path
                d="M12 2.02c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm0 12.55l-5.992-4.57h11.983l-5.991 4.57zm0 1.288l-6-4.629v6.771h12v-6.771l-6 4.629z" />
            </svg>
            <a class="pl-2"
              rel="noopener noreferrer"
              href="mailto:{{resume?.basics?.email}}">
              {{resume?.basics?.email}}
            </a>
          </p>
        </div>
      </div>
      <!-- Summary and links -->
      <div class="flex flex-col w-full">
        <!-- Summary -->
        <p class="flex-grow text-sm">{{resume?.basics?.summary}}</p>
        <!-- Links -->
        <div class="flex flex-row space-x-6 text-indigo-600">
          <a *ngFor="let profile of resume?.basics?.profiles"
            rel="noopener noreferrer"
            target="_blank"
            href="{{profile.url}}">
            <!-- Twitter -->
            <svg *ngIf="profile.network == 'Twitter'"
              class="mr-1 inline "
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24">
              <path
                d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6.5 8.778c-.441.196-.916.328-1.414.388.509-.305.898-.787 1.083-1.362-.476.282-1.003.487-1.564.597-.448-.479-1.089-.778-1.796-.778-1.59 0-2.758 1.483-2.399 3.023-2.045-.103-3.86-1.083-5.074-2.572-.645 1.106-.334 2.554.762 3.287-.403-.013-.782-.124-1.114-.308-.027 1.14.791 2.207 1.975 2.445-.346.094-.726.116-1.112.042.313.978 1.224 1.689 2.3 1.709-1.037.812-2.34 1.175-3.647 1.021 1.09.699 2.383 1.106 3.773 1.106 4.572 0 7.154-3.861 6.998-7.324.482-.346.899-.78 1.229-1.274z" />
            </svg>
            <!-- LinkedIn -->
            <svg *ngIf="profile.network == 'LinkedIn'"
              class="mr-1 inline"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24">
              <path
                d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-2 8c0 .557-.447 1.008-1 1.008s-1-.45-1-1.008c0-.557.447-1.008 1-1.008s1 .452 1 1.008zm0 2h-2v6h2v-6zm3 0h-2v6h2v-2.861c0-1.722 2.002-1.881 2.002 0v2.861h1.998v-3.359c0-3.284-3.128-3.164-4-1.548v-1.093z" />
            </svg>
            {{profile.username}}
          </a>
        </div>
      </div>
    </div>
  </header>
  <!-- Main -->
  <main class="flex-grow place-self-stretch">
    <!-- Professional Experience -->
    <div class="rounded-lg bg-white shadow p-2 mb-2">
      <h2 class="border-b-2 border-gray-300 font-bold text-xl text-indigo-900 mb-2">
        Experience
      </h2>
      <div class="flex flex-col">
        <div class="mb-4"
          *ngFor="let work of resume?.work">
          <!-- ADP -->
          <img *ngIf="work.company === 'ADP'"
            width="24"
            height="24"
            alt="ADP Logo"
            class="float-left rounded-full w-6 shadow mr-3"
            src="assets/logo-adp.jpeg">
          <!-- Google -->
          <img *ngIf="work.company === 'Google'"
            width="24"
            height="24"
            alt="Google logo"
            class="float-left rounded-full w-6 shadow mr-3"
            src="assets/logo-google.png">
          <!-- NYT -->
          <img *ngIf="work.company === 'The New York Times'"
            width="24"
            height="24"
            alt="The New York Times logo"
            class="float-left rounded-full w-6 shadow mr-3"
            src="assets/logo-nyt.png">
          <h3 class="font-bold text-lg">
            {{work.company}} - {{work.position}}
            <span class="float-right">
              {{work.startDate | date: 'MMM yyyy'}}
              -
              {{work.endDate | date: 'MMM yyyy'}}</span>
          </h3>
          <h4>{{work.summary}}</h4>
          <p *ngFor="let highlight of work.highlights"
            class="mb-2 text-sm">
            {{highlight}}
          </p>
        </div>
      </div>
    </div>
    <!-- Technical skills -->
    <div class="rounded-lg bg-white shadow p-2 mb-2">
      <h2 class="border-b-2 border-gray-300 font-bold text-xl text-indigo-900 mb-2">
        Technical Skills
      </h2>
      <table class="mb-4">
        <tbody>
          <tr *ngFor="let skill of resume?.skills"
            class="border-b border-gray-300">
            <td>{{skill.name}}</td>
            <td>{{skill.keywords}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Education -->
    <div class="rounded-lg bg-white shadow p-2">
      <h2 class="border-b-2 border-gray-300 font-bold text-xl text-indigo-900">Education</h2>
    </div>
  </main>
  <!-- Footer -->
  <footer class="rounded-lg bg-white shadow p-2 flex space-x-6 text-sm text-indigo-600 font-bold">
    <!-- Github link -->
    <div>
      <svg xmlns="http://www.w3.org/2000/svg"
        class="inline mr-1"
        width="24"
        height="24"
        viewBox="0 0 24 24">
        <path
          d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm0 6c-3.313 0-6 2.686-6 6 0 2.651 1.719 4.9 4.104 5.693.3.056.396-.13.396-.289v-1.117c-1.669.363-2.017-.707-2.017-.707-.272-.693-.666-.878-.666-.878-.544-.373.041-.365.041-.365.603.042.92.619.92.619.535.917 1.403.652 1.746.499.054-.388.209-.652.381-.802-1.333-.152-2.733-.667-2.733-2.965 0-.655.234-1.19.618-1.61-.062-.153-.268-.764.058-1.59 0 0 .504-.161 1.65.615.479-.133.992-.199 1.502-.202.51.002 1.023.069 1.503.202 1.146-.776 1.648-.615 1.648-.615.327.826.121 1.437.06 1.588.385.42.617.955.617 1.61 0 2.305-1.404 2.812-2.74 2.96.216.186.412.551.412 1.111v1.646c0 .16.096.347.4.288 2.383-.793 4.1-3.041 4.1-5.691 0-3.314-2.687-6-6-6z" />
      </svg>
      <p class="inline align-middle">Git Repo</p>
    </div>
    <!-- Last update -->
    <div>
      <svg xmlns="http://www.w3.org/2000/svg"
        class="inline h-6 w-6 stroke-current text-black mr-1"
        fill="none"
        viewBox="0 0 24 24">
        <path stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
      <p class="inline align-middle">Last update: today</p>
    </div>
    <!-- Changelog -->
    <div>
      <svg xmlns="http://www.w3.org/2000/svg"
        class="inline h-6 w-6 stroke-current text-black mr-1"
        fill="none"
        viewBox="0 0 24 24">
        <path stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01" />
      </svg>
      <p class="inline align-middle">Changelog</p>
    </div>
    <!-- Build status badge -->
    <div>
      <img referrerpolicy="no-referrer"
        src="https://github.com/pitecus/meirelles/actions/workflows/node.js.yml/badge.svg"
        alt="GitHub actions build status badge">
    </div>
  </footer>
</div>