<div class="flex flex-col justify-between min-h-screen pt-4 print:pt-0">
  <!-- First row: personal info and summary -->
  <div *ngIf="resume && resume.basics"
    class="flex container gap-3 md:flex-row print:flex-row flex-col">
    <!-- Photo, location and contacts -->
    <app-profile-card [basics]="resume.basics"></app-profile-card>

    <!-- Summary -->
    <app-summary-card [summary]="resume.basics.summary"
      [profiles]="resume.basics.profiles || []"
      [releaseVersion]="release?.version || ''"></app-summary-card>
  </div>

  <!-- Body -->
  <main class="flex-grow pt-4 print:pt-0">
    <!-- Professional Experience -->
    <div *ngIf="resume?.work"
      class="rounded bg-white shadow-lg p-2 mb-2 print:p-0 print:mt-4 print:shadow-none">
      <div class="flex justify-between border-b-2 mb-4">
        <h2 class="text-2xl flex justify-between items-end print:mb-0 print:text-lg">
          <span class="material-icons-outlined leading-normal pr-1 print:hidden">
            work_history
          </span>
          Professional Experience
        </h2>
        <!-- Filter -->
        <label class="flex items-center text-sm print:hidden">
          <input type="checkbox"
            [ngModel]="isWorkFiltered"
            (click)="filterWork()"
            class="form-checkbox h-4 w-4 text-indigo-500" />
          <span class="ml-2">Last 7 years</span>
        </label>
      </div>
      <div class="mt-4 print:mb-2"
        [ngClass]="{'border-b': isLast === false}"
        *ngFor="let work of filteredWork; last as isLast">
        <!-- ADP -->
        <img *ngIf="work.company === 'ADP'"
          width="24"
          height="24"
          alt="ADP Logo"
          class="float-left rounded-full w-6 shadow mr-3"
          src="assets/logo-adp.jpeg" />
        <!-- Google -->
        <img *ngIf="work.company === 'Google'"
          width="24"
          height="24"
          alt="Google logo"
          class="float-left rounded-full w-6 shadow mr-3"
          src="assets/logo-google.png" />
        <!-- NYT -->
        <img *ngIf="work.company === 'The New York Times'"
          width="24"
          height="24"
          alt="The New York Times logo"
          class="float-left rounded-full w-6 shadow mr-3"
          src="assets/logo-nyt.png" />
        <!-- Company, position and period -->
        <div class="flex justify-between space-x-2">
          <h3 class="text-lg flex-grow">
            {{work.company}} - {{work.position}}
          </h3>
          <div class="text-sm pl-1 text-right print:whitespace-nowrap">
            {{work.startDate | date: 'MMM/yyyy'}}
            <br className="print:hidden" />
            <span className="hidden print:inline"> to </span>
            <span *ngIf="work.endDate == 'Current'">Current</span>
            <span *ngIf="work.endDate != 'Current'">{{work.endDate | date: 'MMM/yyyy'}}</span>

          </div>
        </div>
        <!-- Summary -->
        <h4 class="bg-gray-100 rounded-lg italic p-1 mb-1 print:bg-white print:px-0">{{work.summary}}</h4>
        <!-- Highlights -->
        <p *ngFor="let highlight of work.highlights"
          class="text-sm print:text-xs">
          {{highlight}}
        </p>
      </div>
    </div>

    <!-- Publications and conferences -->
    <div *ngIf="resume && resume.publications"
      class="rounded-lg bg-white shadow p-2 mb-2 print:pt-0 print:mt-4 print:shadow-none">
      <h2 class="border-b-2 border-gray-300 font-bold text-xl text-indigo-900">
        <span>Conferences</span>
      </h2>
      <div *ngFor="let publication of resume.publications"
        class="mt-2">
        <!-- ADP -->
        <img *ngIf="publication.publisher === 'ADP Global Product & Development Connect'"
          width="24"
          height="24"
          alt="ADP Logo"
          class="float-left rounded-full w-6 shadow mr-3"
          src="assets/logo-adp.jpeg" />
        <!-- Conference name -->
        <div class="flex justify-between space-x-2">
          <h3 class="font-bold text-lg w-full">{{publication.publisher}}</h3>
          <div class="text-sm w-20 pl-1 sm:w-36 sm:text-right print:w-36 print:text-right ">
            {{ publication.releaseDate | date: 'MMM/yyyy'}}
          </div>
        </div>
        <!-- Title -->
        <h4 class="bg-gray-100 rounded-lg italic p-1 mb-1 print:mb-0 print:bg-white print:px-0 flex justify-between">
          <span>{{publication.name}}</span>
        </h4>
        <!-- Summary -->
        <p class="text-sm print:text-xs">
          {{publication.summary}}
        </p>
      </div>
    </div>

    <!-- Education and languages-->
    <div *ngIf="resume && (resume.education || resume.languages)"
      class="rounded-lg bg-white shadow p-2 mb-2 print:pt-0 print:-mt-2 print:shadow-none">
      <!-- Education -->
      <div>
        <h2 class="border-b-2 border-gray-300 font-bold text-xl text-indigo-900">Education</h2>
        <div *ngFor="let education of resume.education"
          class="mt-2">
          <!-- PUCRS -->
          <img *ngIf="education.institution === 'Pontifícia Universidade Católica (PUCRS)'"
            width="24"
            height="24"
            alt="ADP Logo"
            class="float-left rounded-full w-6 shadow mr-3"
            src="assets/logo-pucrs.png" />
          <div class="flex justify-between space-x-2">
            <h3 class="font-bold text-lg flex-grow">
              {{education.institution}}
            </h3>
            <div class="text-sm pl-1 text-right print:whitespace-nowrap">
              {{education.startDate | date: 'MMM/yyyy'}}
              <br className="print:hidden" />
              <span className="hidden print:inline"> to </span>
              {{education.endDate | date: 'MMM/yyyy'}}
            </div>
          </div>
          <h4 class="p-1">
            {{education.studyType}} {{education.area}}
          </h4>
        </div>
      </div>
      <!-- Languages -->
      <div *ngIf="resume.education">
        <h2 class="border-b-2 border-gray-300 font-bold text-xl text-indigo-900">
          Languages
        </h2>
        <div *ngFor="let language of resume.languages"
          class="mt-2 flex flex-row flex-wrap">
          <p class="mr-4">
            <!-- Brazilian Portuguese -->
            <span *ngIf="language.language === 'Portugues'">🇧🇷</span>
            <!-- USA English -->
            <span *ngIf="language.language === 'English'">🇺🇸</span>
            <!-- The language -->
            <span class="pl-2 font-bold">{{language.language}}</span>:&nbsp;
            <span>{{language.fluency}}</span>
          </p>
        </div>
      </div>
    </div>

    <!-- Technical skills -->
    <div *ngIf="resume && resume.skills"
      class="rounded-lg bg-white shadow p-2 print:shadow-none">
      <h2 class="border-b-2 border-gray-300 font-bold text-xl text-indigo-900">
        Technical Skills
      </h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 print:grid-cols-2 gap-2 mt-2">
        <div *ngFor="let skill of resume.skills"
          class="border-b print:shadow-none">
          <h2 class="font-bold rounded-lg p-1 text-md bg-gray-100 print:bg-white">{{skill.name}}</h2>
          <span class="text-sm print:text-xs">
            {{skill.keywords?.join(', ')}}
          </span>
        </div>
      </div>
    </div>
  </main>
</div>