<div class="flex flex-col justify-between min-h-screen pt-4 print:pt-0">
  <!-- First row: personal info and summary -->
  <div *ngIf="resume && resume.basics"
    class="flex container gap-3 flex-col md:flex-row print:flex-row ">
    <!-- Photo, location and contacts -->
    <app-profile-card [basics]="resume.basics"></app-profile-card>

    <!-- Summary -->
    <app-summary-card [summary]="resume.basics.summary"
      [profiles]="resume.basics.profiles || []"
      [releaseVersion]="release?.version || ''"></app-summary-card>
  </div>

  <!-- Body -->
  <main class="pt-4">
    <!-- Work experience -->
    <app-card>
      <div class="flex justify-between p-4 print:p-0">
        <h2 class="text-2xl flex justify-between items-end print:border-b print:justify-start print:text-lg print:flex-grow">
          <span class="material-icons-outlined leading-normal pr-1 print:hidden">
            work_history
          </span>
          Experience
        </h2>
        <!-- Filter -->
        <label class="flex items-center text-sm print:hidden">
          <input type="checkbox"
            [ngModel]="isWorkFiltered"
            (click)="filterWork()"
            class="form-checkbox h-4 w-4 text-indigo-500" />
          <span class="ml-2">Last 7 years</span>
        </label>
      </div>
    </app-card>

    <div class="grid lg:grid-cols-2 gap-4 mt-4">
      <app-work-experience-card *ngFor="let work of filteredWork; last as isLast"
        [work]="work">
      </app-work-experience-card>
    </div>

    <!-- Publications and conferences -->
    <div *ngIf="resume?.publications"
      class="pt-4">
      <app-card class="mt-4">
        <div class="flex justify-between p-4 print:p-0">
          <h2 class="text-2xl flex justify-between items-end print:border-b print:justify-start print:text-lg print:flex-grow">
            <span class="material-icons-outlined leading-normal pr-1 print:hidden">
              mic_external_on
            </span>
            Conferences
            <span class="px-2">/</span>
            <span class="material-icons-outlined leading-normal pr-1 print:hidden">
              article
            </span>
            Publications
          </h2>
        </div>
      </app-card>

      <!-- List of publications/conferences -->
      <div class="grid lg:grid-cols-2 gap-4 mt-4">
        <app-publication-card *ngFor="let publication of resume?.publications || []"
          [publication]="publication"></app-publication-card>
      </div>
    </div>

    <!-- Education and languages-->
    <div *ngIf="resume?.education || resume?.languages"
      class="pt-4">
      <app-card class="mt-4">
        <div class="flex justify-between p-4 print:p-0">
          <h2 class="text-2xl flex justify-between items-end print:border-b print:justify-start print:text-lg print:flex-grow">
            <span class="material-icons-outlined leading-normal pr-1 print:hidden">
              school
            </span>
            Education
            <span class="px-2">/</span>
            <span class="material-icons-outlined leading-normal pr-1 print:hidden">
              language
            </span>
            Languages
          </h2>
        </div>
      </app-card>

      <div class="grid lg:grid-cols-4 grid-cols-2 print:grid-cols-2 gap-4 mt-4">
        <!-- List of schools -->
        <app-education-card *ngFor="let education of resume?.education || []"
          [education]="education"
          class="col-span-2"></app-education-card>
        <!-- List of languages -->
        <app-language-card *ngFor="let language of resume?.languages || []"
          [language]="language" class="print:border"></app-language-card>
      </div>
    </div>

    <!-- Technical skills -->
    <div *ngIf="resume?.skills"
      class="pt-4">
      <app-card class="mt-4">
        <div class="flex justify-between p-4 print:p-0">
          <h2 class="text-2xl flex justify-between items-end print:border-b print:justify-start print:text-lg print:flex-grow">
            <span class="material-icons-outlined leading-normal pr-1 print:hidden">
              verified
            </span>
            Technical Skills
          </h2>
        </div>
      </app-card>

      <!-- List of skills -->
      <div class="grid lg:grid-cols-3 print:grid-cols-2 md:grid-cols-2 gap-4 pt-4 print:pt-2">
        <app-skill-card *ngFor="let skill of resume?.skills || []"
          [skill]="skill"></app-skill-card>
      </div>
    </div>
  </main>
</div>